extends layout

block append content
  div
    div.sidenav(id=homePage + '-sidenav')
      div.sidenav-top(id=homePage + '-sidenav-top')
      div.sidenav-bottom(id=homePage + '-sidenav-bottom')
    div.main-content(id=homePage + '-main')
    div.footer(id=homePage + '-footer')
      p Created by ACM/AITP @ NCSU
