extends layout

block append content
  div
    div.sidenav(id=notesPage + '-sidenav')
      div.sidenav-top(id=notesPage + '-sidenav-top')
      div.sidenav-bottom(id=notesPage + '-sidenav-bottom')
    div.main-content(id=notesPage + '-main')
    div.footer(id=notesPage + '-footer')
      p Created by ACM/AITP @ NCSU
